In [1]:
import numpy as np
import pandas as pd

In [65]:
df = pd.read_csv('Listofstartups.csv')

In [66]:
df.describe()

,Incubation_Center,Name_of_startup,Location of company,Sector
count,241,241,239,241
unique,44,238,66,165
top,"SIIC, IIT Kanpur",MedCuore Medical Solutions Pvt Ltd,"Bengaluru, Karnataka",Healthcare
freq,17,2,31,34

In [67]:
df.head()

,Incubation_Center,Name_of_startup,Location of company,Sector
0,ABES Ghaziabad,Suryansh,New Delhi,EdTech
1,AIC Banasthali Vidyapith Foundation,Thinkpods Education Services Private Limited (...,"Satara, Maharashtra",Ed Tech
2,AIC Banasthali Vidyapith Foundation,Inventiway Solutions Pvt.Ltd.,"Mumbai, Maharashtra",HR Tech
3,AIC Banasthali Vidyapith Foundation,C2M Internet India Pvt. Ltd.,"Lucknow, Uttar Pradesh",Retail Tech
4,AIC Pinnacle Entrepreneurship Forum,Wastinno,"Pune, Maharashtra",agriculture

In [68]:
df[['City', 'State']] = df['Location of company'].str.split(',', expand=True, n=1)

In [69]:
df.head()

,Incubation_Center,Name_of_startup,Location of company,Sector,City,State
0,ABES Ghaziabad,Suryansh,New Delhi,EdTech,New Delhi,None
1,AIC Banasthali Vidyapith Foundation,Thinkpods Education Services Private Limited (...,"Satara, Maharashtra",Ed Tech,Satara,Maharashtra
2,AIC Banasthali Vidyapith Foundation,Inventiway Solutions Pvt.Ltd.,"Mumbai, Maharashtra",HR Tech,Mumbai,Maharashtra
3,AIC Banasthali Vidyapith Foundation,C2M Internet India Pvt. Ltd.,"Lucknow, Uttar Pradesh",Retail Tech,Lucknow,Uttar Pradesh
4,AIC Pinnacle Entrepreneurship Forum,Wastinno,"Pune, Maharashtra",agriculture,Pune,Maharashtra

In [71]:
df.State.isna().sum()

np.int64(67)

In [72]:
df.City.isna().sum()

np.int64(2)

In [73]:
df.City.head()

0    New Delhi
1       Satara
2       Mumbai
3      Lucknow
4         Pune
Name: City, dtype: object

In [74]:
df.State.head()

0              None
1       Maharashtra
2       Maharashtra
3     Uttar Pradesh
4       Maharashtra
Name: State, dtype: object

In [75]:
df.City = df.City.str.strip()
df.State = df.State.str.strip()

In [78]:
import json
with open('indian_states_and_cities.json') as f:
    city_to_state = json.load(f)

In [79]:
def map_city_to_state(city):
    city = city.title() if isinstance(city, str) else city
    for state, cities in city_to_state.items():
        if city in cities:
            return state
    return None

In [80]:
missing_state = df[df['State'].isna()]

In [81]:
for index, row in missing_state.iterrows():
    city = row['City']
    state = map_city_to_state(city)
    if state:
        df.at[index, 'State'] = state

In [82]:
df.State.isna().sum()

np.int64(34)

In [83]:
df.head()

,Incubation_Center,Name_of_startup,Location of company,Sector,City,State
0,ABES Ghaziabad,Suryansh,New Delhi,EdTech,New Delhi,None
1,AIC Banasthali Vidyapith Foundation,Thinkpods Education Services Private Limited (...,"Satara, Maharashtra",Ed Tech,Satara,Maharashtra
2,AIC Banasthali Vidyapith Foundation,Inventiway Solutions Pvt.Ltd.,"Mumbai, Maharashtra",HR Tech,Mumbai,Maharashtra
3,AIC Banasthali Vidyapith Foundation,C2M Internet India Pvt. Ltd.,"Lucknow, Uttar Pradesh",Retail Tech,Lucknow,Uttar Pradesh
4,AIC Pinnacle Entrepreneurship Forum,Wastinno,"Pune, Maharashtra",agriculture,Pune,Maharashtra

In [64]:
df.to_csv('Updated_startups.csv', index=False)